.formRow{
    min-height: 328px;
    padding-bottom: 10px;
 background-color: #0868882b;
    border-radius: 20px;
}
.colSig{
    background-color:  #83d4c66f;
    border-radius: 20px;
    min-height: 328px;
   

}