/* user.css */

.userMainContainer {
    min-height: 440px;
    padding-bottom: 10px;
    background-color: #0868882b;
    border-radius: 20px;
    padding-top: 10px; 
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    margin-bottom: 100px;
  }
 
  
  .user-profile-card, .user-details-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
   
    min-height: 380px;
    width: 100%;
  }
  
  .user-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .user-image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .edit-icon {
    position: absolute;
    bottom: 8px;
    right: 60px;
    background: #fff;
    border-radius: 50%;
    padding: 1px;
    cursor: pointer;
    
  }
  
  .user-profile-col, .user-details-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-profile-card .card-body {
    text-align: center;
  }
  
  .save-button {
  
    border: none;
    margin-top: 20px;
    width: 100%;

   
  }
  
  .loading-message {
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
  }
  
  .form-group-row {
    display: flex;
    gap: 20px;
  }
  
  .user-details-col .card {
    width: 100%;
    padding: 20px;
   
  }
  .tabsUser {
    width: 100%; /* Utilise 100% de la largeur disponible */
  }
  
  /* Assure que les groupes de formulaires utilisent toute la largeur */
  .tab-content .form-group {
    width: 100%; /* Utilise 100% de la largeur disponible */
  }
  
  /* Assure que les formulaires utilisent toute la largeur */
  .tab-content form {
    width: 100%; /* Utilise 100% de la largeur disponible */
  }
  
  @media (max-width: 768px) {
    .user-profile-col, .user-details-col {
      flex-direction: column;
      align-items: center;
    }
  
    .form-group-row {
      flex-direction: column;
    }
  }
  .delete-button{
    cursor: pointer;
  }
  .custom-tab  {
    color: #086788 !important; 
  }
  .visiblityIcon{
    position: absolute;
    right: 140px;
  }